{% import  "static/js/app/macros.htm" as macros%}
{% extends "static/page/_common/app.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">
  <div class="card-header" style="height:45px">
	<h5 class="float-start ps-2">Topic List</h5>

	<div class="button btn btn-primary btn-sm float-end ms-2" onclick='xpage.actions.onAdd();'><i class="bi bi-dpad"></i> Add</div>
	
	{{macros.x_search(id='searchBooks')}}

	{{macros.x_filter(prop='author',
		val_id='author_id',val_name='author_name',		
		options=[['""','All-Authors']],
		action='filter')
	}}
	{{macros.x_filter(prop='category',
		val_id='category_id',val_name='category_name',
		options=[['""','All-Categories'],['F','Fiction'],['N','Non-Fiction']],
		action='filter')
	}}
  </div>

  <div id="x-books" class="py-0 ps-4 px-1" style="width:99.4%">

  </div>  
</div>

{% endblock %}

