{% import  "static/js/app/macros.htm" as macros %}
{% extends "static/page/_common/app.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">
  <div class="card-header" style="height:45px">
	<h5 class="float-start ps-2">Author Details</h5>
	{{macros.x_button(title='Close',type='button',id='btnCancel', class='primary btn-sm float-end ms-2')}}
	{{macros.x_button(title='Save',type='button',id='btnSave', class='success btn-sm float-end ms-2')}}		
  </div>

  <div class="card-body">
	<form method="post" id="author_form">
	<div class="col-4">
		{{macros.x_input(title='Author Name',type='text',id='txtauthor',val=author,m_name='author')}}
		<div class="col-4">
	
	

	</div>
    </form>
  </div>
</div>
{% endblock %}

