{% import  "static/js/app/macros.htm" as macros %}
{% extends "static/page/_common/superadminbase.htm" %}

{% block body %}
<div id='x-main' class="container-full" style="margin-top:40px">

  <div class="card-header" style="height:45px">
	<h5 class="float-start ps-2">ORG List</h5>

	<div class="button btn btn-primary btn-sm float-end ms-2" data-nav='super_admin.org_dtl'><i class="bi bi-dpad"></i> Add</div>
		
	{{macros.x_search(id='searchorgs')}}
	
	{{macros.x_filter(prop='ngo',
		val_id='ngo_id',val_name='ngo_name',		
		options=[['""','All-ngos']],
		action='filter')
	}}
	
  </div>

  <div id="x-orgs" class="py-0 ps-4 px-1" style="width:99.4%">

  </div>  

</div>
{% endblock %}
